#pay-ad {
    width: 100%;
}

#pay-ad main {
    width: 80%;
    margin: 20px auto;
}

#pay-ad main > div {
    margin-bottom: 20px;
}

#pay-ad main h1 {
    font-size: 1.7rem;
}

#pay-ad main span {
    display: block;
}

#pay-ad main .pagamento > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 20px;
}

#pay-ad main .pagamento > div .forma-pg {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: solid;
    margin: 5;
}

#pay-ad main .pagamento > div .forma-pg img {
    height: 100%;
    object-fit: cover;
    margin: auto;
}

#pay-ad main .pagar {
    width: 500px;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px;
}

#pay-ad main .pagar > span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#pay-ad main .pagar ul {
    list-style: disc;
    padding-left: 20px;
}

#pay-ad main .pagar ul li {
    color: #333;
    margin: 10px 5px;
}

#pay-ad main .pagar span:nth-child(4),
#pay-ad main .pagar span:nth-child(5),
#pay-ad main .pagar span:nth-child(7) {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    color: #333;
}

#pay-ad main .pagar span:nth-child(7) span {
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
}

#pay-ad main .pagar a {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #38B449;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
}