#header-offline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    box-shadow: 0px 1px 0.5px 0.5px #000;
    padding: 8px;
}

#header-offline .search-bar {
    width: 30%;
    border-radius: 8px;
}

#header-offline .bar {
    width: 100%;
    box-shadow: 0 0 0 1px #000;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-offline .bar input {
    width: 100%;
    border-radius: 4px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

#header-offline .bar a {
    padding: 0.5rem;
}

#header-offline nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#header-offline nav a {
    display: flex;
}

#header-offline nav i + span {
    padding-left: 6px;
}

#header-offline .logo {
    height: auto;
}

#header-offline .logo img {
    display: block;
    min-height: 4.5rem;
    max-height: 4.5rem;
}

#header-offline #entrar {
    color: #000;
    font-weight: 500;
    background-color: #fff;
    padding: 0.5rem 2.5rem;
    box-shadow: 0 0 0 1px #000;
    border-radius: 30px;
}

#header-offline #anunciar {
    color: #fff;
    font-weight: 500;
    background-color: #38B449;
    padding: 0.5rem 2.5rem;
    border-radius: 30px;
}

.menu {
    display: none;
}

@media (max-width: 1100px) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .menu i {
        font-size: 2.5rem;
    }

    #header-offline {
        position: relative;
    }

    #header-offline nav {
        position: absolute;
        top: 5rem;
        right: -100%;
        width: 70vw;
        padding: 1rem;
        z-index: 2;
        background-color: #38B449;
        flex-direction: column;
        transition: 0.3s right;
    }

    #header-offline nav.open { 
        right: 0;
        border-radius: 0 0 0 10px;
    }
    
    #header-offline nav.open a {
        color: #fff;
        font-weight: 600;
        padding-block: .3rem;
    }

    #header-offline nav #entrar {
        all: unset;
        color: #fff;
        font-weight: 600;
    }
}