#sign-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    background-color: #EDEDED;
    padding-block: 2rem;
}

#sign-in {
    width: 80%;
    max-width: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-in section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
}

#sign-in .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#sign-in .logo h1 {
    font-size: 1.6rem;
}

#sign-in .redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
}

#sign-in .redes > div {
    cursor: pointer;
    padding: .5rem;
    border: 1px solid #252529;
    border-radius: 50%;
}

#sign-in .redes + span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sign-in .redes + span::before,
#sign-in .redes + span::after {
    content: "";
    display: block;
    width: 10rem;
    height: 1px;
    background-color: #252529;
}

#sign-in .redes + span + span {
    text-align: center;
    font-size: 1.1rem;
}

#sign-in form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#sign-in .pessoa > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-in .pessoa > div label {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .3rem;
}

#sign-in .pessoa > div label input[type="radio"] {
    accent-color: #38B449;
}

#sign-in .campo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5rem;
}

#sign-in .campo input[type="text"],
#sign-in .campo input[type="email"],
#sign-in .campo input[type="password"] {
    width: 100%;
    padding: 1rem 1rem 1rem 1.5rem;
    border: 1px solid #252529;
    border-radius: 1rem;
}

#sign-in .campo span:nth-last-child(1) {
    color: #353535;
    font-size: .7rem;
}

#sign-in button {
    padding: .7rem 5rem;
    background-color: #38B449;
    border-radius: 3rem;
    color: #fff;
}

#sign-in button:disabled {
    opacity: 0.5; 
    background-color: #252529;
}

#sign-in section > span:last-child a {
    color: #38B449;
}

#sign-in section + span {
    margin-top: 1rem;
    text-align: justify;
}